/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 28, 2016, 8:06:36 PM
    Author     : Web App Develop PHP
*/
body{
    /*background: black;*/
    /*color: white;*/
}

fieldset{
    width: 30%;
    margin-top: 20%;
}

input{
    width: 100%;
    height: 30px;
    background: whitesmoke;
}
.sub{
    width: 30px;
    margin-top: 20px;
    background: gray;
}