/*MANSOUL SOCIAL NETWORK NETWORK CUSTOM CSS STYLE SHEET*/
body{
    width: 100%;
}

.home-container {
    margin-top: 15px;
}
/* BUTTON */
.btn-primary{
    background-color: #111;
    border: 1px solid #111;
}
.btn-primary:hover{
    background-color: #222;
    border: 1px solid #222;
}
/* NAVIGATION FORM */
.navbar-inverse{
    border-radius: 0;
    margin: 0;
}
/* FRIENDS SECTION [COL-M-3] */
.firends img{
    width: 64px;
}
/* GROUP LIST SECTION [COL-M-3]*/
.groups img{
    width: 80px;
    float: left;
    margin-right: 15px;
}
.group-item{
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    overflow: auto;
}
.group-item h4 a{
    color: #222;
}
.group-item h4 a:hover{
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
/* LEFT SECTION [COL-M-2]*/
.list-group{
    border-radius: 0;
}
.list-group p{
    color: #fff;
    background-image: linear-gradient(#111, #333 60%, #111);
    border: 1px solid #111;
}
.list-group-item{
    border-radius: 0;
    font-weight: bold;
}
.list-group button{
    font-size: 15px;
}
.list-group button:hover{
    border: solid 1px #ccc;
}
/* POST SECTION [COL=M-7] */
.form-group textarea{
    resize: none;
    height: 100px;
}
.panel-heading{
    background-image: linear-gradient(#111, #333 60%, #111);
    color: #fff !important;
    font-weight: bold;
}
.bubble{
    position: relative;
    width: 580px;
    min-height: 65px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.bubble::after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #fff;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -15px;
    left: -15px;
    top: 50%;
}
.bubble::before{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #ccc;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -15px;
    left: -16px;
    top: 50%;
}
.comment-form .form-group{
    width: 100%;
}
.comment-form input[type='text']{
    width: 70%;
}
.comment-avator img{
    width: 28px;
    margin-right: 5px;
}
.comment{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
    margin: 5px 0;
    overflow: auto;
    width: 100%;
}
.comment-text{
    font-style: italic;
}
/* Room Info - Add Friends [col-md-3] */
.page-header h4 a{
    color: #333;
    font-weight: bold;
}
.page-header h4 a:hover{
    text-decoration: none;
}
/* Room File - Add Friends [col-md-3] */
.col-sm-1 .fa-file-archive-o{
    font-size: 4rem;
}
.col-sm-11 .btn-link b{
    font-size: 2rem;
    color: #333;
}
.col-sm-11 a:hover{
    color: #333;
}
/* Profile Page Section */
.cover{
    width: 100%;
    height: 400px;
    position: relative;
}
.pro-pic{
    position: absolute;
    bottom: -35px;
    left: 12rem;
    z-index: 99;
    width: 160px;
    height: 160px;
    box-sizing: border-box;
}
.profile-nav{
    margin-bottom: 0px;
}
.pro-menu{
    width: 100%;
    height: 53.9px;
    background-color: #222;
    margin-bottom: 20px;
}
.pro-nav{
    padding-left: 45rem;
    font-size: 2rem;
}
.pro-btn{
    border: none;
    border-left: 1px solid #fff;
    transition: 0.5s;
    font-weight: bold;
}
.descrive{
    height: 150px;
}
.descrive textarea{
    width: 100%;
    height: 100%;
    resize: none;
}
/* ABOUT SECTION PAGE */
.left-side-edu{
    height: 160px;
}
.left-side-home{
    height: 50px;
}
.left-side-rel{
    height: 20px;
}
.left-side-info{
    height: 400px;
}
/* PHOTO GALLERY */
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}
.thumbnail {
    padding: 0;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}
.album{
    margin-bottom: 40px;
}

/********************************************************
***********************LITTLE SHOP
********************************************************/
.LittleShop{
    background-color: #161616;
    background-image: repeating-linear-gradient(135deg, #333, #333 10%, transparent 10%, transparent 50%);
    background-size: 12px 12px;
    color: #fff;
}
.item{
    box-sizing: border-box;
}
.l-image{
    width: 950px;
    height: 300px;
}
.featured-product {
    margin-top: 48px;
    text-align: justify;
}
footer{
    width: 100%;
    height: 50px;
    background-color: rgba(3,3,3,.8);
    color: #222;
}
footer p{
    text-align: center;
    margin: 15px 10px 0 0;
}
footer p a{
    text-decoration: none;
    color: #222;
    font-weight: bold;
}
footer p a:hover{
    text-decoration: none;
    color: #888;
}
/*****************************************
**** VIEW PRODACT DETAILS SLIDER
*****************************************/
.jssora02l, .jssora02r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url('img/a02.png') no-repeat;
    overflow: hidden;
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02l.jssora02ldn { background-position: -3px -33px; }
.jssora02r.jssora02rdn { background-position: -63px -33px; }

/* jssor slider thumbnail navigator skin 03 css */
/*
.jssort03 .p            (normal)
.jssort03 .p:hover      (normal mouseover)
.jssort03 .pav          (active)
.jssort03 .pdn          (mousedown)
*/

.jssort03 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 62px;
    height: 32px;
}

.jssort03 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.jssort03 .w, .jssort03 .pav:hover .w {
    position: absolute;
    width: 60px;
    height: 30px;
    border: white 1px dashed;
    box-sizing: content-box;
}

.jssort03 .pdn .w, .jssort03 .pav .w {
    border-style: solid;
}

.jssort03 .c {
    position: absolute;
    top: 0;
    left: 0;
    width: 62px;
    height: 32px;
    background-color: #000;

    filter: alpha(opacity=45);
    opacity: .45;
    transition: opacity .6s;
    -moz-transition: opacity .6s;
    -webkit-transition: opacity .6s;
    -o-transition: opacity .6s;
}

.jssort03 .p:hover .c, .jssort03 .pav .c {
    filter: alpha(opacity=0);
    opacity: 0;
}

.jssort03 .p:hover .c {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}

* html .jssort03 .w {
    width /**/: 62px;
    height /**/: 32px;
}