/*********************
********CUSTOM CSS
*********************/
body{
    background: #000 url('../images/background.jpg');
    //background-size: cover;
    color: #fff;
    font-family: Comic Sans MS;
}

div.col-md-6 div{
    clear: both;
    display: inline-block;
}
div.img{
    width: 96px; height: 96px;
    margin-top: 25px;
    background: #111 url('../images/logo_msoul.png') center center / cover;
    opacity: 0.9;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #000;
}
div.col-md-6 div a{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 5rem;
    font-family: Constantia;
    color: #fff;
    text-shadow: 3px 3px 6px #000;
}
div.col-md-6 div.h3{
    text-shadow: 2px 2px 4px #000;
}
div.right{
    margin-top: 20rem;
}
div.col-md-6 div.col-md-12 textarea{
    background-color: #000;
    resize: none;
    margin-top: 75px;
    height: 150px;
    font-family: Times New Roman;
    font-style: italic;
}
div.col-md-10 input{
    box-shadow: 2px -2px 4px #fff;
    transition: 0.6s;
}
div.col-md-10 input.radio{
    box-shadow: none;
}
div.col-md-10 input.btn{
    border-radius: 3px;
    box-shadow: none;
    font-size: 1.5rem;
    font-family: normal;
    font-weight: bold;
    transition: 0.6s;
}
div.col-md-10 input.btn:hover{
    //background-color: rgba(255,255,255,0.3);
}